<section id="contact">
  <div class="container">
    <h2>
      <div class="underline"></div>{% t contact.title %}
    </h2>
    <div class="row">

      <div class="col-md-6">
        <div id="map" class="map"></div>
      </div>

      <div class="col-md-6">
        <div class="flex flex-col h-100 contact-details">

          <div class="flex-1 flex flex-col justify-content-center">
            <div class="flex mb-12">
              <div class="first-col">{% t contact.phone %}</div>
              <div class="last-col">
                <a href="tel:+3617004020">+36 (1) 700 4020</a>
              </div>
            </div>
            <div class="flex mb-36">
              <div class="first-col">{% t contact.email %}</div>
              <div class="last-col">
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </div>
            </div>
            <div class="flex">
              <div class="first-col">{% t contact.office %}</div>
              <div class="last-col">
                <a href="https://wego.here.com/discover/47.50879137681566%2C19.13833139141315?map=47.5087,19.13855,16,omv"
                  target="_blank">
                  1141 Budapest<br>
                  <div class="underline"></div>Mirtusz utca
                  28. I. em. 1.
                </a>
              </div>
            </div>
          </div>

          <div>
            <a href="mailto:{{ site.email }}" class="send-message-button">
              <div class="underline"></div>{% t contact.send_a_message %}
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
