<section id="contact">
  <div class="container">
    <h2><div class="underline"></div>{% t contact.title %}</h2>
    <div class="row">
      <div class="col col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.153194895355!2d19.046941315818316!3d47.506407702886925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc13d9d4377f%3A0x5bef2731a9b06e9d!2sBudapest%2C%20K%C3%A1lm%C3%A1n%20Imre%20u.%201%2C%201054!5e0!3m2!1shu!2shu!4v1632143919010!5m2!1shu!2shu"
          width="100%" height="400" style="border:0;" allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
      <div class="col col-md-6">
        <div class="flex flex-col h-100 contact-details">
          <div class="flex-1 flex flex-col justify-content-center">
            <div class="flex mb-12">
              <div class="first-col">{% t contact.phone %}</div>
              <div class="last-col">
                <a href="tel:+3617004020">+36 (1) 700 4020</a>
              </div>
            </div>
            <div class="flex mb-36">
              <div class="first-col">{% t contact.email %}</div>
              <div class="last-col">
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </div>
            </div>
            <div class="flex">
              <div class="first-col">{% t contact.office %}</div>
              <div class="last-col">
                <a
                  href="https://www.google.com/maps/place/Budapest,+K%C3%A1lm%C3%A1n+Imre+u.+1,+1054/@47.5064077,19.0469413,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dc13d9d4377f:0x5bef2731a9b06e9d!8m2!3d47.5064041!4d19.0491299"
                  target="_blank">
                  1054 Budapest<br><div class="underline"></div>Kálmán Imre utca 1._402
                </a>
              </div>
            </div>
          </div>
          <div>
            <a href="mailto:{{ site.email }}" class="send-message-button">
              <div class="underline"></div>{% t contact.send_a_message %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>