<section id="contact">
  <div class="container">
    <h2>
      <div class="underline"></div>{% t contact.title %}
    </h2>
    <div class="row">

      <div class="col-md-6">
        <div id="map" class="map"></div>
      </div>

      <div class="col-md-6">
        <div class="flex flex-col h-100 contact-details">

          <div class="flex-1 flex flex-col justify-content-center">
            <div class="flex mb-12">
              <div class="first-col">{% t contact.phone %}</div>
              <div class="last-col">
                <a href="tel:+3617004020">+36 (1) 700 4020</a>
              </div>
            </div>
            <div class="flex mb-36">
              <div class="first-col">{% t contact.email %}</div>
              <div class="last-col">
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
              </div>
            </div>
            <div class="flex">
              <div class="first-col">{% t contact.office %}</div>
              <div class="last-col">
                <a href="https://wego.here.com/directions/mix//Katona-J%C3%B3zsef-utca-39,-Budapest-1137,-Hungary:47.51482,19.04863?map=47.51482,19.04863,15,normal&msg=Katona%20J%C3%B3zsef%20utca%2039"
                  target="_blank">
                  1137 Budapest<br>
                  <div class="underline"></div>Katona József utca
                  39. IV/22.
                </a>
              </div>
            </div>
          </div>

          <div>
            <a href="mailto:{{ site.email }}" class="send-message-button">
              <div class="underline"></div>{% t contact.send_a_message %}
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
