<section id="intro">
  <div class="overlay"></div>

  <img src="{{ '/assets/images/minified/intro.jpg' | relative_url }}" alt=""
    class="intro-background">

  <div class="container">
    <div class="flex flex-col justify-content-between">
      <div class="mt-50">
        <a href="{{ '/' | prepend: site.baseurl }}" class="logo-box">
          {% if site.lang == "hu" %}
          <img src="{{ '/assets/images/logos/logo_hu.svg' | relative_url }}"
            alt="logo" class="logo">
          {% elsif site.lang == "en" %}
          <img src="{{ '/assets/images/logos/logo_en.svg' | relative_url }}"
            alt="logo" class="logo">
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</section>
