<section id="office">
  <div class="container">
    <h2>
      <div class="underline"></div>{% t office.title %}
    </h2>

    <div class="office-content">
      <img src="{{ '/assets/images/office.jpg' | relative_url }}" alt="">

      <div class="row">
        <div class="col-lg"></div>
        <div class="col">
          <div class="office-description">
            <h3>{% t office.short_description %}</h3>

            <div class="relative">
              <div class="white-right-arrow"></div>

              <p>{% t office.description %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
