<section id="office">
  <div class="container">
    <h2>
      <div class="underline"></div>
      {% t office.title %}
    </h2>

    <div class="office-content">
      <div class="row">
        <div class="col-xl-6">
          <img
            src="{{ '/assets/images/minified/office.jpg' | relative_url }}"
            alt=""
          />
        </div>

        <div class="col-xl-6">
          <div class="office-description">
            <div class="relative">
              <div class="white-right-arrow"></div>

              <p>{% t office.description %}</p>

              <p>{% t office.about_our_colleagues %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
