#office {
  margin-bottom: 120px;

  h2 {
    margin-top: 0;
    margin-bottom: 120px;
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-heavy-metal);
    text-align: center;
    font-family: var(--font-family-bold);
    font-size: 20px;
    line-height: 26px;
    text-transform: lowercase;
  }

  .office-content {
    position: relative;
    border-bottom-right-radius: 250px 250px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover;
    }

    .office-description {
      position: relative;
      background-color: rgba(29, 29, 27, 0.8);
      z-index: 1;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 100px;
      color: var(--color-apricot);
      font-family: var(--font-family-bold);
      font-size: 30px;
      line-height: 39px;
    }

    a {
      display: inline-block;
      color: var(--color-apricot);
      font-family: var(--font-family-bold);
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
    }

    p {
      color: var(--color-white);
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  #office {
    .office-content {
      .office-description {
        padding: 50px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #office {
    .office-content {
      .office-description {
        padding: 80px;
      }
    }
  }
}
