#posts {
  margin-bottom: 80px;

  .border-top {
    margin-top: 80px;
    padding-top: 90px;
    border-top: 2px solid var(--color-black);
  }

  .post-title {
    margin-top: 20px;
    max-width: 520px;

    a {
      color: var(--color-heavy-metal);
      font-family: var(--font-family-bold);
      font-size: 36px;
      line-height: 48px;
      text-transform: uppercase;
    }
  }

  .post-details {
    display: block;
    color: var(--color-heavy-metal);
    font-size: 12px;
    line-height: 16px;
  }

  .post-content {
    position: relative;
    margin-top: 100px;
    max-width: 100%;
    min-height: 600px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  }

  .post-data {
    position: absolute;
    bottom: 0;
    background-color: rgba(29, 29, 27, 0.8);
    border-top-right-radius: 150px 150px;
  }

  .post-excerpt {
    display: -webkit-box;
    color: var(--color-white);
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    > p {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  #posts {
    .post-data {
      padding: 50px;
    }
  }
}

@media screen and (min-width: 992px) {
  #posts {
    .post-data {
      padding: 90px 110px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #posts {
    .more-articles-button {
      margin-left: 100px;
    }
  }
}
