name: Jekyll CI

on:
  push:
    branches: [release]
  pull_request:
    branches: [release]

jobs:
  build_and_deploy:
    name: Build and Deploy
    runs-on: self-hosted
    steps:
      - name: Checkout V3
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install NPM
        run: |
          npm ci

      - name: Optimize images
        run: |
          gulp imagemin

      - name: Build Jekyll site
        run: |
          npm run build
